/*navigation*/
#navigation {
    color: #fff;
    background-color: rgba(17, 51, 85, 0.85);
    font-size: 1.2em;
    border-bottom: 2px solid rgb(17, 51, 85);
}

#navigation li a {
    color: #fff !important;
    width: 150px !important;
    text-align: center !important;
    text-shadow: none !important;
}

#navigation li :hover,
#navigation li a:hover {
    background-color: #fff !important;
    color: rgb(17, 51, 85) !important;
}

html, body {
    height: 100%;
    color: #226;
}

body a {
    color: #226;
    text-shadow: none !important;
}

body a:hover {
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
    color: #000000;
}

/*tabs*/
.nav-tabs {
    border-radius: 0;
    /*border-bottom: 2px solid #DDD;*/
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    border-width: 0;
}

.nav-tabs > li > a {
    border-radius: 0;
    border: none;
    color: #ffffff;
    background: rgba(17, 51, 85, 0.85);
}

.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
    border: none;
    color: rgba(17, 51, 85, 0.85) !important;
    background: #fff;
}

.nav-tabs > li > a::after {
    content: "";
    background: rgba(17, 51, 85, 0.85);
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
    transform: scale(1);
}

.tab-nav > li > a::after {
    background: rgba(17, 51, 85, 0.85) none repeat scroll 0 0;
    color: #fff;
}

.tab-pane {
    padding: 15px 0;
}

.tab-content {
    padding: 20px
}

.nav-tabs > li {
    width: 15%;
    text-align: center;
    top: -10px;
    margin-bottom: -11px;
}

.card {
    background: #FFF none repeat scroll 0 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

@media all and (min-width: 1281px) {
    .nav-tabs > li > a > i {
        display: none;
    }
}

@media all and (max-width: 1280px) {
    .nav-tabs > li > a > span {
        display: none;
    }

    .nav-tabs > li > a {
        padding: 5px 5px;
    }
}

/* modals*/
.modal-body label,
.modal-body input {
    margin-right: 10px;
}

.trz-form-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto, sans-serif;
}

.trz-form-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: roboto, sans-serif;
}

.trz-form-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.trz-form-container input[type=email], input[type=password], input[text] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.trz-form-container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.trz-form {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
      user-select: none; */
}

.trz-form-submit {
    /* border: 1px solid #3079ed; */
    border: 0;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: darkslategray;
    padding: 17px 0;
    font-family: roboto, sans-serif;
    font-size: 14px;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.trz-form-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: darkslategray;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.trz-form-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.trz-form-help {
    font-size: 12px;
}

.trz-form-help a:hover {
    cursor: pointer;
}

trz-button-group a:first-child {
    margin-left: 30px;
}

trz-button-group .btn {
    padding-top: 10px;
    padding-bottom: 10px;
}

.light {
    background-color: #0d3349;
    color: #fff;
}

.btn.light {
    box-shadow: 0 4px 11px 0 #555;
}

.btn.light:hover {
    color: #fff;
    font-weight: 500;
    background-color: rgb(103, 131, 156);
}

.divider {
    height: 2px;
    width: 95%;
    display: block;
    margin-top: 20px;
    margin-left: 25px;
    overflow: hidden;
    background-color: #e5e5e5;
}

/*bootstrap*/
.btn {
    border-radius: 0;
}

input.form-control,
select.form-control {
    border-radius: 0;
    border: 1px solid black;
    color: #137;
}

.btn-default {
    border: 1px solid black;
    background-color: #0d3349;
}

.special .card {
    box-shadow: 0 12px 40px 5px #555;
}

.jumbotron {
    /*background-color: #699BA5;*/
    background: url(../images/linux.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 800px;
}

.table-bordered > tbody > tr > th,
.table-bordered > thead > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid #2f4f4f;
    border-right-width: 0;
    border-left-width: 0;
}

.table {
    border: 1px solid #101010;
    box-shadow: 0 4px 11px 0 #555;
}

.table-bordered > tbody > tr:nth-child(2n) {
    background-color: rgba(187, 186, 202, 0.35);
}

.table-bordered > thead > tr > th {
    background-color: rgba(82, 107, 112, 0.88);
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
}

/*breadcrumbs*/

.trz-breadcrumb {
    display: inline-block;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    border-radius: 5px;
    position: absolute;
    top: 80px;
}

.trz-breadcrumb > a {
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 36px;
    /*need more margin on the left of links to accomodate the numbers*/
    padding: 0 10px 0 30px;
    position: relative;
    transition: all 0.5s;
    color: #fff;
    background: #0d3349;
}

.trz-breadcrumb > a div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.trz-breadcrumb > *:first-child {
    padding-left: 10px;
    border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
}

.trz-breadcrumb > *:first-child i {
    vertical-align: sub;
}

.trz-breadcrumb > *:last-child {
    border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
    padding-right: 20px;
}

/*hover/active styles*/
.trz-breadcrumb a.active,
.trz-breadcrumb a:hover {
    background: #fff;
    color: #0d3349;
}

.trz-breadcrumb a.active:after,
.trz-breadcrumb a:hover:after {
    background: #ffffff;
}

/*.trz-breadcrumb * a.active:before,*/
/*.trz-breadcrumb * a:hover:before {*/
/*background: #0d3349;*/
/*}*/

/*adding the arrows for the myBreadcrumbs using rotated pseudo elements*/
.trz-breadcrumb > *:after {
    content: '';
    position: absolute;
    top: 0;
    right: -18px; /*half of square's length*/
    /*same dimension as the line-height of .trz-breadcrumb a */
    width: 36px;
    height: 36px;
    /*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's:
    length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
    if diagonal required = 1; length = 1/1.414 = 0.707*/
    transform: scale(0.707) rotate(45deg);
    -ms-transform: scale(0.707) rotate(45deg);
    -webkit-transform: scale(0.707) rotate(45deg);

    /*we need to prevent the arrows from getting buried under the next link*/
    z-index: 1;
    /*background same as links but the gradient will be rotated to compensate with the transform applied*/
    background: #0d3349;
    /*stylish arrow design using box shadow*/
    box-shadow: 2px -2px 0 2px rgba(254, 254, 254, 0.38),
    3px -3px 0 2px rgba(169, 169, 169, 0.75);
    /*
        5px - for rounded arrows and
        50px - to prevent hover glitches on the border created using shadows*/
    border-radius: 0 5px 0 50px;
    transition: all 0.5s;
}

/*we dont need an arrow after the last link*/
.trz-breadcrumb > *:last-child:after {
    content: none;
}

/*we will use the :before element to show numbers*/
.trz-breadcrumb > *:before {
    /*some styles now*/
    border-radius: 100%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 8px 0;
    position: absolute;
    top: 0;
    left: 30px;
    background: #0d3349;
    /*background: linear-gradient(#444, #222);*/
    font-weight: bold;
    box-shadow: 0 0 0 1px #ccc;
}

.trz-breadcrumb > *:nth-child(n+2) {
    display: none;
}

@media (min-width: 768px) {
    .trz-breadcrumb > *:nth-last-child(-n+6) {
        display: block;
    }

    .trz-breadcrumb > * div {
        max-width: 175px;
    }

    .mobile-only {
        display: none;
    }

    .desktops-and-tablets {
        display: block;
    }
}

[ng-view] {
    padding-top: 10px;
}

.ng-touched.ng-invalid {
    border-color: red;
}

.has-errors {
    color: red;
}

#welcome {
    width: 80%;
}

#toast-container > div {
    opacity: 1;
}

button[disabled], html input[disabled] {
    cursor: not-allowed !important;
}