extends ../layout

block content
    .row
        .col-xs-12
            button.btn.btn-default.col-xs-12.col-lg-2(type='button', data-toggle='modal', data-target='#new-company-modal')
                i.fa.fa-plus
                |  Добави нова фирма

    include new-company-modal

    section.panel
        table#companies-table.table.table-hover.table-bordered.table-responsive
            thead
                tr
                    th Име
                    th ЕИК - Булстат
                    th Управител
            tbody
                tr
                    td
                        a(href='company') Фирма 1
                    td
                        a(href='company') 1234567890
                    td
                        a(href='#') Иван Иванов
                tr
                    td
                        a(href='company') Фирма 2
                    td
                        a(href='company') 1234567890
                    td
                        a(href='#') Иван Иванов
