<div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="trz-form-container">
            <h1>Регистрация</h1><br>
            <form ng-submit="user.register()">
                <input type="email" name="email" ng-model="user.email" placeholder="Имейл">
                <input type="password" name="paswword" ng-model="user.password" placeholder="Парола">
                <input type="submit" name="register" class="trz-form-submit" value="Регистрация">
            </form>

            <div class="modal-dismiss hidden" data-dismiss="modal"></div>
            <div class="trz-form-help">
                <a data-toggle="modal" data-dismiss="modal" data-target="{{loginModalId}}">Вход</a> -
                <a data-toggle="modal" data-dismiss="modal" data-target="{{forgottenPasswordModalId}}">Забравена парола</a>
            </div>
        </div>
    </div>
</div>