doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title ТРЗВВ Забравена парола
        link(href='css/authentication.css', rel='stylesheet')
    body
        .body
        .grad
        .header
            div
                | ТРЗ
                span ВВ
        br
        .login
            input(type='email', placeholder='имейл', name='email')
            br
            input(type='button', value='Прати ми нова парола', onclick="window.location='login'")
        // link local copy of jquery
        // add js file to handle click event
        script(src='bower_components/jquery/dist/jquery.min.js')
