doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title ТРЗВВ Вход
        link(href='css/authentication.css', rel='stylesheet')
    body
        .body
        .grad
        .header
            div
                | ТРЗ
                span ВВ
        br
        form.login(action='', method='post')
            input(type='email', placeholder='имейл', name='email', required)
            br
            input(type='password', placeholder='парола', name='password', required, pattern='^((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%_.\-]).{8,20})$')
            br
            input(type='submit', value='Влез')
            a(href="forgotten-password") Забравена парола?
