doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title ТРЗВВ регистрация
        link(href='css/authentication.css', rel='stylesheet')
    body
        .body
        .grad
        .header
            div
                | ТРЗ
                span ВВ
        br
        form.login(action='', method='post')
            input(type='email', placeholder='имейл', name='email')
            br
            input(type='password', placeholder='парола', name='password')
            br
            input(type='password', placeholder='потвърди паролате', name='confirm-password')
            br
            input(type='submit', value='Регистрация')
