<div class="tab-pane acive">
    <div class="panel-body">
        <form class="form form-horizontal">
            <!-- 1.Вид осигурен-->
            <div class="form-group">
                <label for="insured-type" class="col-lg-4 control-label">Вид осигурен<span
                        class="required"> *</span></label>
                <div class="col-lg-4">
                    <input type="text" ng-model="model.typeInsured" id="insured-type" name="insured-type" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="reason-for-contract" class="col-lg-4 control-label">Основание за сключване<span
                        class="required"> *</span></label>
                <div class="col-lg-4">
                    <input ng-model="model.reasonForContract" type="text" id="reason-for-contract" name="reason-for-contract" class="form-control">
                </div>
            </div>
            <!-- 2.Номер на трудов договор-->
            <div class="form-group">
                <label for="contract-number" class="col-lg-4 control-label">
                    Номер на трудов
                    договор<span class="required"> *</span>
                </label>
                <div class="col-lg-4">
                    <input ng-model="model.contractNumber" id="contract-number" name="contract-number" required="" type="text"
                           class="form-control input-md"/>
                </div>
            </div>
            <!-- 3.Дата на сключване-->
            <div class="form-group">
                <label for="signing-date" class="col-lg-4 control-label">Дата на сключване<span
                        class="required"> *</span></label>
                <div class="col-lg-4">
                    <input ng-model="model.signingDate" id="signing-date" name="signing-date" required="" type="text"
                           class="form-control input-md datepicker"/>
                </div>
            </div>
            <!-- 4.Дата на започване-->
            <div class="form-group">
                <label for="start-date" class="col-lg-4 control-label">Дата на започване<span
                        class="required"> *</span></label>
                <div class="col-lg-4">
                    <input ng-model="model.startingDate" id="start-date" name="start-date" required="" type="text"
                           class="form-control input-md datepicker"/>
                </div>
            </div>
            <!-- 5.Основна заплата-->
            <div class="form-group">
                <label for="principal-salary" class="col-lg-4 control-label">Основна заплата<span class="required"> *</span></label>
                <div class="col-lg-4">
                    <input ng-model="model.principalSalary" id="principal-salary" name="principal-salary" required="" type="text"
                           class="form-control input-md"/>
                </div>
            </div>
            <!-- 6.Срок на договора-->
            <div class="form-group">
                <label for="contract-length" class="col-lg-4 control-label">
                    Срок на
                    договора
                </label>
                <div class="col-lg-4">
                    <input ng-model="model.contractLengthInMonths" id="contract-length" name="contract-length" type="text" class="form-control input-md"/>
                </div>
            </div>
            <!-- 7.Работно време-->
            <div class="form-group">
                <label for="work-hours" class="col-lg-4 control-label">Работно време<span class="required"> *</span></label>
                <div class="col-lg-4">
                    <input ng-model="model.workHours" id="work-hours" name="work-hours" required="" type="text" class="form-control input-md"/>
                </div>
            </div>
            <!-- 8.Длъжност НКПД-->
            <div class="form-group">
                <label for="nkpd" class="col-lg-4 control-label">Длъжност НКПД<span class="required"> *</span></label>
                <div class="col-lg-4">
                    <input ng-model="model.occupationCode"  id="nkpd" name="nkpd" required="" type="text" class="form-control input-md"/>
                </div>
            </div>
            <!-- 9.КИД-->
            <div class="form-group">
                <label for="kid" class="col-lg-4 control-label">КИД<span class="required"> *</span></label>
                <div class="col-lg-4">
                    <input ng-model="model.codeEconomicActivity" id="kid" name="kid" required="" type="text" class="form-control input-md"/>
                </div>
            </div>
            <!-- 10.Срок на предизвестие-->
            <div class="form-group">
                <label for="notice" class="col-lg-4 control-label">Срок на предизвестие<span
                        class="required"> *</span></label>
                <div class="col-lg-4">
                    <input ng-model="model.leaveNoticeLengthInDays" id="notice" name="notice" required="" type="text"
                           class="form-control input-md"/>
                </div>
            </div>
            <!-- 11.Отпуск размер-->
            <div class="form-group">
                <label for="payed-vacation" class="col-lg-4 control-label">Отпуск размер<span
                        class="required"> *</span></label>
                <div class="col-lg-4">
                    <input  ng-model="model.payedVacationLengthInDays" id="payed-vacation" name="payed-vacation"
                            required="" type="text" class="form-control input-md"/>
                </div>
            </div>
            <!-- 13.Общ стаж-->
            <div class="form-group">
                <label for="work-experience" class="col-lg-4 control-label">Общ стаж<span class="required"> *</span></label>
                <div class="col-lg-4">
                    <input ng-model="model.experience.total" id="work-experience" name="work-experience" required="" type="text"
                           class="form-control input-md"/>
                </div>
            </div>
            <!-- 14.Стаж по специалност-->
            <div class="form-group">
                <label for="speciality-experience" class="col-lg-4 control-label">
                    Стаж по
                    специалност<span class="required"> *</span>
                </label>
                <div class="col-lg-4">
                    <input ng-model="model.experience.speciality" id="speciality-experience" name="speciality-experience" required="" type="text"
                           class="form-control input-md"/>
                </div>
            </div>
            <!-- 15.Осигурителен стаж-->
            <div class="form-group">
                <label for="insured-experience" class="col-lg-4 control-label">Осигурителен стаж<span
                        class="required"> *</span></label>
                <div class="col-lg-4">
                    <input ng-model="model.experience.insurable" id="insured-experience" name="insured-experience" required="" type="text"
                           class="form-control input-md"/>
                </div>
            </div>
            <!-- 16.Дата на прекратяване-->
            <div class="form-group">
                <label for="end-date" class="col-lg-4 control-label">Дата на прекратяване<span
                        class="required"> *</span></label>
                <div class="col-lg-4">
                    <input ng-model="model.terminationDate" id="end-date" name="end-date" required="" type="text" class="form-control input-md datepicker"/>
                </div>
            </div>
            <!-- Бутон `Зпази`-->
            <div class="form-group">
                <div class="col-lg-4 col-lg-offset-4">
                    <button ng-click="submit()" type="button" class="btn btn-default">Запази</button>
                </div>
            </div>
        </form>
    </div>
</div>