ul.nav.nav-tabs(role='tablist')
    li.active(role='presentation')
        a(href='#personal-info', aria-controls='personal-info', role='tab', data-toggle='tab')
            i.fa.fa-address-card-o
            span Лични данни
    li(role='presentation')
        a(href='#work-contract', aria-controls='work-contract', role='tab', data-toggle='tab')
            i.fa.fa-briefcase
            span Трудов договор