#personal-info.tab-pane.active(role='tabpanel')
    .row
        .col-xs-12
            button.btn.btn-default.col-xs-12.col-lg-2(type='button', data-toggle='modal', data-target='#dossers-table-modal')
                        i.fa.fa-list
                        |  Друго досие
    form.form
        fieldset.margin-bottom
            legend
            // Modal
            #lnch-additional.modal.fade(role='dialog')
                .modal-dialog
                    // Modal content
                    .modal-content
                        .modal-body
                            button.close(type='button', data-dismiss='modal') ×
                            lable(for='dob')
                                | Дата на раждане
                            input#dob.datepicker.col-sm-4(type='text', name='dob')
                            br
                            br
                            label(for='male')
                                |  Мъж
                            input(type='radio', name='sex', value='Мъж' id='male')
                            label(for='female')
                                | Жена
                            input(type='radio', name='sex', value='Жена' id='female')
                        .modal-footer
                            button.btn.btn-default(type='button', data-dismiss='modal') Запази

            // 1.ЕГН
            .form-group
                label.col-lg-2.control-label.margin-top(for='id')
                    | ЕГН/ЛНЧ
                    span.required  *
                .col-lg-4
                    input#id.form-control.input-md.margin-top(name='id', required='', type='text')
            // 2.Име
            .form-group
                label.col-lg-2.control-label(for='first-name')
                    | Име
                    span.required  *
                .col-lg-4
                    input#first-name.form-control.input-md(name='first-name', required='', type='text')
            // 3.ЕГН/ЛНЧ
            .form-group
                label.col-lg-2.control-label(for='type-of-id-number')
                #type-of-id-number.col-lg-4
                    label.radio-inline(for='radios-0')
                        input#radios-0(name='id-type', value='егн', checked='checked', type='radio')
                        |                                                 егн
                    label.radio-inline(for='radios-1')
                        input#radios-1(name='id-type', value='лнч', type='radio', data-toggle="modal", data-target="#lnch-additional")
                        |                                                 лнч
            // 4.Презиме
            .form-group
                label.col-lg-2.control-label(for='middle-name')
                    | Презиме
                .col-lg-4
                    input#middle-name.form-control.input-md(name='middle-name', type='text')
            // 5.Лична карта номер
            .form-group
                label.col-lg-2.control-label(for='id-card-number')
                    | Лична карта номер
                    span.required  *
                .col-lg-4
                    input#id-card-number.form-control.input-md(name='id-card-number', required='', type='text')
            // 6.Фамилия
            .form-group
                label.col-lg-2.control-label(for='last-name')
                    | Фамилия
                    span.required  *
                .col-lg-4
                    input#last-name.form-control.input-md(name='last-name', required='', type='text')
        fieldset.margin-top.margin-bottom
            legend Адрес
            // 1.Улица
            .form-group
                label.col-lg-2.control-label.margin-top(for='street')
                    | Улица
                    span.required  *
                .col-lg-4
                    input#street.form-control.input-md.margin-top(name='street', required='', type='text')
            // 2.Град
            .form-group
                label.col-lg-2.control-label(for='city')
                    | Град
                    span.required  *
                .col-lg-4
                    input#city.form-control.input-md(name='city', required='', type='text')
            // 3.Държава
            .form-group
                label.col-lg-2.control-label(for='country')
                    | Държава
                    span.required  *
                .col-lg-4
                    input#country.form-control.input-md(name='country', required='', type='text')
            // 4.Пощенски код
            .form-group
                label.col-lg-2.control-label(for='postal-code')
                    | Пощенски код
                    span.required  *
                .col-lg-4
                    input#postal-code.form-control.input-md(name='postal-code', required='', type='text')
        // Опционални
        fieldset.margin-top.margin-bottom
            legend
                | Опционални
            // 1.Образование
            .form-group
                label.col-lg-2.control-label.margin-top(for='education') Образование
                .col-lg-4
                    select#education.form-control.margin-top(name='education')
                        option(value='Начално') Начално
                        option(value='Основно') Основно
                        option(value='Средно') Средно
                        option(value='Средно специално') Средно специално
                        option(value='Професионален Бакалавър') Професионален Бакалавър
                        option(value='Бакалавър') Бакалавър
                        option(value='Магистър') Магистър
                        option(value='Доктор') Доктор
            // Банка
            .form-group
                label.col-lg-2.control-label(for='bank') Банка
                .col-lg-4
                    input#bank.form-control.input-md(name='bank', type='text')
            // Имейл
            .form-group
                label.col-lg-2.control-label(for='email') Имейл
                .col-lg-4
                    input#email.form-control.input-md(name='email', type='email')
            // iban
            .form-group
                label.col-lg-2.control-label(for='iban') IBAN
                .col-lg-4
                    input#iban.form-control.input-md(name='iban', type='text')
            // телефон
            .form-group
                label.col-lg-2.control-label(for='phone') Телефон
                .col-lg-4
                    input#phone.form-control.input-md(name='phone', type='text')
            // bic
            .form-group
                label.col-lg-2.control-label(for='bic') BIC
                .col-lg-4
                    input#bic.form-control.input-md(name='bic', type='text')

            // Запази
            .form-group
                .col-lg-4.col-lg-offset-2
                    button.btn.btn-default(type='button')
                        | Запази
