extends ../layout

block content
    .row
        .col-md-12
            // Nav tabs
            .card
                include nav-tabs
                // Tab panes
                .tab-content
                    include personal-info
                    include work-contract
                    include dossers-table-modal