extends ../layout

block content
    .row
        .col-md-12
            // Nav tabs
            .card
                include nav-tabs
                // Tab panes
                .tab-content
                    include personal-info
                    include work-contract
                    include civil-contract
                    include pay-stub
                    include sick-leave
                    include information
                    include vacation
                    include dossers-table-modal