<section class="container">
    <div class="tab-pane active">
        <div class="pane-content">
            <div class="panel-body">
                <h1>Приложението е в процес на разработка моля не го използвайте.</h1>
                <p>За имплементиране до края на седмицата:
                <ul>
                    <li>Валидация на данните преди пращане към базата</li>
                    <li>Замяна на съобщенията които са на англииски, със съобщения на български</li>
                    <li>Имплементация на date picker</li>
                    <li>Форматиране на датите преди да се изпратят към базата и също така и преди да се визуализират на
                        потребителя
                    </li>
                    <li>Добавяне на breadcrumb или друг адекватен начин за навигиране</li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</section>