<section class="container">
    <div class="tab-pane active">
        <div class="pane-content">
            <div class="panel-body">
                <h1>Приложението е в процес на разработка моля не го използвайте.</h1>
                <p>За имплементиране до края на седмицата:
                <ul>
                    <li>Валидация на данните преди пращане към базата</li>
                    <li>Замяна на съобщенията които са на англииски, със съобщения на български</li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</section>