<div ng-controller = "CompanyDetailsController">
	
	<trz-breadcrumb breadcrumbs = "breadcrumbs"></trz-breadcrumb>
	<trz-button-group buttons = "buttons"></trz-button-group>
	<br>
	<br>
	<trz-tabs set = "setActive(id)" tabs = "tabs"></trz-tabs>
	<div class = "tab-content">
		<div class = "tab-pane active"
		     ng-show = "getActive() === 'company-info'">
			<div class = "panel-body">
				<company-details company = "data"
				                 save = "save()"></company-details>
			</div>
		</div>
		<div ng-show = "getActive() === 'dossiers'" class = "tab-pane active">
			<div class = "panel-body">
				<table class = "table table-bordered table-hover table-responsive">
					<thead>
					<tr>
						<th>Име</th>
						<th>ЕГН/ЛНЧ</th>
						<th>Статус</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat = "dossier in data.dossiers">
						<td>
							<a
								ng-href = "#!/companies/{{companyId}}/dossiers/{{dossier._id}}">
								{{dossier.names.first}} {{dossier.names.last}}
							</a>
						</td>
						<td>
							{{dossier.id.bulgarian?dossier.id.bulgarian.egn:dossier.foreign.lnch}}
						</td>
						<td>{{dossier.archive? 'Архив':'Активен'}}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>