<div ng-controller="CompaniesController">
    <trz-button-group buttons="buttons"></trz-button-group>
    <div class="tab-content">
        <div class="tab-pane active">
            <div class="panel-body">
                <table class="table table-bordered table-hover table-responsive">
                    <thead>
                    <tr>
                        <th >Име</th>
                        <th>Булстат</th>
                        <th>Управител</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="company in companies">
                        <td><a ng-href="#!/companies/{{company._id}}">{{company.name}}</a></td>
                        <td><a ng-href="#!/companies/{{company._id}}">{{company.bulstat}}</a></td>
                        <td>{{company.director}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>