<div ng-controller = "DossierDetailsController">
	<trz-breadcrumb breadcrumbs = "breadcrumbs"></trz-breadcrumb>
	<trz-button-group buttons="dossierButtons"></trz-button-group>
	<br>
	<br>
	<trz-tabs tabs = "tabs" set = "setActive(id)"></trz-tabs>
	<div class = "tab-content">
		<div class = "tab-pane active"
		     ng-show = "selected === 'dossier-details'">
			<trz-dossier-details
				model = "data"
				submit = "saveDossier()"></trz-dossier-details>
		</div>
		<div class = "tab-pane active"
		     ng-repeat = "contract in data.workContracts"
		     ng-show = "selected === 'work-contract-' + $index">
			<trz-work-contract
				model = "contract"
				submit = "saveContract($index)"></trz-work-contract>
		</div>
	</div>
</div>