extends layout

block content
    #edit-profile.tab-pane.active
        section.panel
            .panel-body.bio-graph-info
                form.form-horizontal(role='form')
                    .form-group
                        label.col-lg-4.control-label Име
                        .col-lg-4
                            input#first-name.form-control(value=' Иван', type='text')
                    .form-group
                        label.col-lg-4.control-label Фамилия
                        .col-lg-4
                            input#last-name.form-control(value=' Иванов', type='text')
                    .form-group
                        label.col-lg-4.control-label Имейл
                        .col-lg-4
                            input.form-control(name='email', value='ivan.ivanov@abv.bg', type='email')
                    .form-group
                        label.col-lg-4.control-label Промени имейл
                        .col-lg-4
                            input#email.form-control(placeholder=' нов имейл', type='text')
                .form-group
                    .row
                        .col-lg-offset-4
                            button.btn.btn-default(type='button')
                                |  Запази
