<div ng-controller="CompanyDetailsController as company">

    <trz-tabs set="company.setActive(id)" tabs="company.tabs"></trz-tabs>
    <div class="tab-content">
        <div class="tab-pane active" ng-show="company.getActive() === 'company-info'">
            <div class="panel-body">
                <company-details company="company"></company-details>
            </div>
        </div>
        <div ng-show="company.getActive() === 'dossiers'" class="tab-pane active">
            <div class="panel-body">
                <table class="table table-bordered table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Име</th>
                            <th>ЕГН</th>
                            <th>Длъжност</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="dossier in company.dossiers">
                            <td><a ng-href="#!/companies/{{company.data._id}}/dossiers/{{dossier._id}}">{{dossier.name}}</a></td>
                            <td><a ng-href="#!/companies/{{company.data._id}}/dossiers/{{dossier._id}}">{{dossier.egn}}</a></td>
                            <td>{{dossier.position}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>