#civil-contract.tab-pane(role='tabpanel')
    .row
        .col-xs-12
            button.btn.btn-default.col-xs-12.col-lg-2(type='button')
                i.fa.fa-print
                |  Принтирай СИС
            button.btn.btn-default.col-xs-12.col-lg-2(type='button')
                i.fa.fa-print
                |  Принтирай служебна бележка
            button.btn.btn-default.col-xs-12.col-lg-2(type='button')
                i.fa.fa-print
                |  Принтирай разписка
            button.btn.btn-default.col-xs-12.col-lg-2(type='button')
                i.fa.fa-list
                |  Друго досие

    form.form-horizontal
        fieldset
            legend
            // Modal
            #pension-amount-modal.modal.fade(role='dialog')
                .modal-dialog
                    // Modal content
                    .modal-content
                        .modal-body
                            button.close(type='button', data-dismiss='modal') ×
                            lable(for='pension-amount')
                                | Размер на пенсията
                            input#pension-amount.col-sm-4(type='text', name='pension-amount')
                        .modal-footer
                            button.btn.btn-default(type='button', data-dismiss='modal') Запази


            // 1.Вид осигурен
            .form-group
                label.col-lg-4.control-label.margin-top(for='type-insured')
                    | Вид осигурен
                    span.required  *
                .col-lg-4
                    select#type-insured.form-control.margin-top(name='type-insured')
                        option(value='01') 01
                        option(value='04') 04
                        option(value='05') 05
                        option(value='08') 08
                        option(value='10') 10
                        option(value='11') 11
                        option(value='12') 12
                        option(value='14') 14
                        option(value='27') 27
            // 2.Пенсионер да/не?
            .form-group
                label.col-lg-4.control-label(for='pensioner')
                    | Пенсионер
                    span.required  *
                .col-lg-4#pensioner
                    label.radio-inline(for='pensioner-yes')
                        input#pensioner-yes(name='radios', value='да', type='radio', data-toggle='modal', data-target='#pension-amount-modal')
                        |                                                 да
                    label.radio-inline(for='pensioner-no')
                        input#pensioner-no(name='radios', value='не',checked='checked', type='radio')
                        |                                                 не

            // 3.Номер на договор
            .form-group
                label.col-lg-4.control-label(for='civil-contract-number')
                    | Номер на
                    | договора
                    span.required  *
                .col-lg-4
                    input#civil-contract-number.form-control.input-md(name='civil-contract-number', required='', type='text')
            // 4.Период на договора
            .form-group
                label.col-lg-4.control-label(for='period')
                    | Период
                    span.required  *
                .col-lg-4
                    input#period.form-control.input-md(name='period', required='', type='text')
            // 5.Нормативно признати разходи
            .form-group
                label.col-lg-4.control-label(for='reimbursements')
                    | Нормативно признати
                    | разходи
                .col-lg-4
                    select#reimbursements.form-control(name='reimbursements', multiple='multiple')
                        option(value='1') Първи
                        option(value='2') Втори
                        option(value='2') Трети
                        option(value='2') ...
            // 6.Запази
            .form-group
                .col-lg-4.col-md-offset-4
                    button.btn.btn-default(type='button')
                        | Запази