ul.nav.nav-tabs(role='tablist')
    li.active(role='presentation')
        a(href='#personal-info', aria-controls='personal-info', role='tab', data-toggle='tab')
            i.fa.fa-address-card-o
            span Лични данни
    li.tab-16-percent(role='presentation')
        a(href='#work-contract', aria-controls='work-contract', role='tab', data-toggle='tab')
            i.fa.fa-briefcase
            span Трудов договор
    li.tab-18-percent(role='presentation')
        a(href='#civil-contract', aria-controls='civil-contract', role='tab', data-toggle='tab')
            i.fa.fa-handshake-o
            span Граждански договор
    li(role='presentation')
        a(href='#pay-stub', aria-controls='pay-stub', role='tab', data-toggle='tab')
            i.fa.fa-eur
            span Начисления
    li(role='presentation')
        a(href='#sick-leave', aria-controls='sick-leave', role='tab', data-toggle='tab')
            i.fa.fa-medkit
            span Болнични
    li(role='presentation')
        a(href='#vacation', aria-controls='vacation', role='tab', data-toggle='tab')
            i.fa.fa-plane
            span Отпуск
    li(role='presentation')
        a(href='#information', aria-controls='information', role='tab', data-toggle='tab')
            i.fa.fa-info
            span Справки