#pay-stub.tab-pane(role='tabpanel')
    .row
        .col-xs-12
            button.btn.btn-default.col-xs-12.col-lg-2(type='button')
                i.fa.fa-print
                |  Принтирай фиш
            button.btn.btn-default.col-xs-12.col-lg-2(type='button', data-toggle='modal', data-target='#dossers-table-modal')
                i.fa.fa-list
                |  Друго досие
    .container
      .row.clearfix
        .col-md-12.column
          table#salary-table.table.table-hover.margin-top
            tbody
              tr
                td
                  input.form-control.input-md(type='text')
                td
                  input.form-control.input-md(type='text')
                td
                  input.form-control.input-md(type='text')
              tr#row-1
      .pull-left.col-lg-4.col-xs-6
        a#add-row.btn.btn-default Добави ред
        a#delete-row.btn.btn-default Изтрий ред
      .pull-right.col-lg-4.col-xs-6
        a#add-col.btn.btn-default Добави колона
        a#delete-col.btn.btn-default Изтрий колона

    .form-group
        .col-lg-4-col-offset-lg-6.col-xs-12
            button.btn.btn-default(type='button')
                | Запази
