#vacation.tab-pane(role='tabpanel')
    .row
        .col-xs-12
            button.btn.btn-default.col-xs-12.col-lg-2(type='button')
                i.fa.fa-print.fa-md
                |  Принтирай заповед

            button.btn.btn-default.col-xs-12.col-lg-2(type='button')
                i.fa.fa-print.fa-md
                |  Принтирай молба

            button.btn.btn-default.col-xs-12.col-lg-2(type='button')
                i.fa.fa-check.fa-md
                |  Справка отпуски

            button.btn.btn-default.col-xs-12.col-lg-2(type='button', data-toggle='modal', data-target='#dossers-table-modal')
                i.fa.fa-list.fa-md
                |  Друго досие

    form.form-horizontal
        fieldset
            legend
            // 1.Вид отпуск
            .form-group
                label.col-lg-4.control-label.margin-top(for='vacation-type') Вид
                .col-lg-4
                    select#vacation-type.form-control.margin-top(name='vacation-type')
                        option(value='платен') платен
                        option(value='не платен') не платен
                        option(value='ученически') ученически
            // 2.Добавяне на нов вид
            .form-group
                label.col-lg-4.control-label(for='add-new-type') Добави нов
                .col-lg-4
                    .input-group
                        input#add-new-type.form-control(name='add-new-type', type='text')
                        .input-group-btn
                            button.btn.btn-default(type='button')
                                | Добави
            // 3.Отпуск от
            .form-group
                label.col-lg-4.control-label(for='from') От
                .col-lg-4
                    input#from.form-control.input-md.datepicker(name='from', required='', type='text')
            // 4.Отпуск до
            .form-group
                label.col-lg-4.control-label(for='to') До
                .col-lg-4
                    input#to.form-control.input-md.datepicker(name='to', required='', type='text')
            // 5.Дата на заповед
            .form-group
                label.col-lg-4.control-label(for='decree') Дата на заповед
                .col-lg-4
                    input#decree.form-control.input-md.datepicker(name='decree', required='', type='text')
            // 6.Запази
            .form-group
                .col-lg-4.col-md-offset-4
                    button.btn.btn-default(type='button')
                        | Запази
