<div role="tabpanel" class="tab-pane">
    <div class="panel-body">
        <form class="form form-horizontal" ng-submit="company.save()" name="companyDetails" novalidate>
            <div class="form-group">
                <label for="name" class="control-label col-md-4 margin-top">Име<span class="required">*</span></label>
                <div class="col-md-4">
                    <input ng-model="company.data.name" id="name" name="name" ng-required="true"
                           type="text" class="form-control" ng-pattern="validationPatterns.address"/>
                    <div class="has-error" ng-show="companyDetails.name.$touched && companyDetails.name.$invalid">
                        <div class="control-label" ng-show="companyDetails.name.$error.pattern">
                            {{errors.mustBeCyrillic}}
                        </div>
                        <div class="control-label" ng-show="companyDetails.name.$error.required">
                            {{errors.requiredField}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="eik" class="control-label col-md-4">ЕИК/Булстат<span class="required">*</span></label>
                <div class="col-md-4">
                    <input ng-model="company.data.bulstat" id="eik" name="eik"
                           ng-required="true" type="text" class="form-control" validate-bulstat/>
                    <div class="has-error" ng-show="companyDetails.eik.$touched && companyDetails.eik.$invalid">
                        <div class="control-label" ng-show="companyDetails.eik.$error.bulstat">
                            {{errors.invalidValue}}
                        </div>
                        <div class="control-label" ng-show="companyDetails.eik.$error.required">
                            {{errors.requiredField}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="director" class="control-label col-md-4">Управител<span class="required">*</span></label>
                <div class="col-md-4">
                    <input ng-model="company.data.director" id="director" name="director"
                           ng-required="true" type="text" class="form-control"
                           ng-pattern="validationPatterns.cyrillic"/>

                    <div class="has-error"
                         ng-show="companyDetails.director.$touched && companyDetails.director.$invalid">
                        <div class="control-label" ng-show="companyDetails.director.$error.pattern">
                            {{errors.mustBeCyrillic}}
                        </div>
                        <div class="control-label" ng-show="companyDetails.director.$error.required">
                            {{errors.requiredField}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="main-economic-activity" class="control-label col-md-4">
                    Основана икономическа
                    дейност<span class="required">*</span>
                </label>
                <div class="col-md-4">
                    <input ng-model="company.data.mainEconomicActivity" id="main-economic-activity"
                           name="mainEconomicActivity" ng-required="true"
                           type="text" class="form-control"/>

                    <div class="has-error"
                         ng-show="companyDetails.mainEconomicActivity.$touched && companyDetails.mainEconomicActivity.$invalid">

                        <div class="control-label" ng-show="companyDetails.mainEconomicActivity.$error.required">
                            {{errors.requiredField}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="pkpv" class="control-label col-md-4">Процент за клас прослужено време<span class="required"> *</span></label>
                <div class="col-md-4">
                    <input ng-model="company.data.pkpv" id="pkpv" type="text" name="pkpv" ng-required="true"
                           class="form-control" ng-pattern="validationPatterns.pkpv"/>

                    <div class="has-error" ng-show="companyDetails.pkpv.$touched && companyDetails.pkpv.$invalid">
                        <div class="control-label" ng-show="companyDetails.pkpv.$error.pattern">
                            {{errors.invalidValue}}
                        </div>
                        <div class="control-label" ng-show="companyDetails.pkpv.$error.required">
                            {{errors.requiredField}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="address" class="control-label col-md-4">Адрес<span class="required">*</span></label>
                <div class="col-md-4">
                    <input ng-model="company.data.address.street" id="address" name="address" ng-required="true"
                           type="text" class="form-control" ng-pattern="validationPatterns.address"/>

                    <div class="has-error" ng-show="companyDetails.address.$touched && companyDetails.address.$invalid">
                        <div class="control-label" ng-show="companyDetails.address.$error.pattern">
                            {{errors.mustBeCyrillic}}
                        </div>
                        <div class="control-label" ng-show="companyDetails.address.$error.required">
                            {{errors.requiredField}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="city" class="control-label col-md-4">Град<span class="required">*</span></label>
                <div class="col-md-4">
                    <input ng-model="company.data.address.city" id="city" name="city" ng-required="true" type="text"
                           class="form-control" ng-pattern="validationPatterns.cyrillic"/>

                    <div class="has-error" ng-show="companyDetails.city.$touched && companyDetails.city.$invalid">
                        <div class="control-label" ng-show="companyDetails.city.$error.pattern">
                            {{errors.mustBeCyrillic}}
                        </div>
                        <div class="control-label" ng-show="companyDetails.city.$error.required">
                            {{errors.requiredField}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="postal-code" class="control-label col-md-4">Пощенски код<span
                        class="required">*</span></label>
                <div class="col-md-4">
                    <input ng-model="company.data.address.postalCode" id="postal-code" name="postalCode"
                           ng-required="true" type="text" class="form-control" ng-pattern="validationPatterns.postalCode"/>

                    <div class="has-error" ng-show="companyDetails.postalCode.$touched && companyDetails.postalCode.$invalid">
                        <div class="control-label" ng-show="companyDetails.postalCode.$error.pattern">
                            {{errors.invalidValue}}
                        </div>
                        <div class="control-label" ng-show="companyDetails.postalCode.$error.required">
                            {{errors.requiredField}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="country" class="control-label col-md-4">Държава<span class="required">*</span></label>
                <div class="col-md-4">
                    <input ng-model="company.data.address.country" id="country" name="country" ng-required="true"
                           type="text" class="form-control" ng-pattern="validationPatterns.cyrillic"/>

                    <div class="has-error" ng-show="companyDetails.country.$touched && companyDetails.country.$invalid">
                        <div class="control-label" ng-show="companyDetails.country.$error.pattern">
                            {{errors.mustBeCyrillic}}
                        </div>
                        <div class="control-label" ng-show="companyDetails.country.$error.required">
                            {{errors.requiredField}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-4">
                    <button type="submit" class="btn btn-default" ng-disabled="companyDetails.$invalid">Запази</button>
                </div>
            </div>
        </form>
    </div>
</div>