<div class="tab-pane">
    <div class="panel-body">
            <form ng-submit="submit()" class="form form-horizontal">

                <!-- 1.Име-->
                <div class="form-group">
                    <label for="first-name" class="col-lg-4 control-label">Име<span class="required"> *</span></label>
                    <div class="col-lg-4">
                        <input ng-model="model.data.names.first" id="first-name" name="first-name" required="" type="text"
                               class="form-control input-md"/>
                    </div>
                </div>
                <!-- 2.Презиме-->
                <div class="form-group">
                    <label for="middle-name" class="col-lg-4 control-label">Презиме</label>
                    <div class="col-lg-4">
                        <input ng-model="model.data.names.middle" id="middle-name" name="middle-name" type="text"
                               class="form-control input-md"/>
                    </div>
                </div>
                <!-- 3.Фамилия-->
                <div class="form-group">
                    <label for="last-name" class="col-lg-4 control-label">Фамилия<span class="required"> *</span></label>
                    <div class="col-lg-4">
                        <input ng-model="model.data.names.last" id="last-name" name="last-name" required="" type="text"
                               class="form-control input-md"/>
                    </div>
                </div>
                <!--Вид ID-->
                <div class="form-group">
                    <label for="type-of-id-number" class="col-lg-4 control-label">Изберете *</label>
                    <div id="type-of-id-number" class="col-lg-4">
                        <label for="bulgarian-id" class="radio-inline">
                            <input id="bulgarian-id" name="id-type" ng-model="model.id.type" value="bulgarian" checked="checked"
                                   type="radio"/> егн
                        </label>
                        <label for="foreign-id" class="radio-inline">
                            <input id="foreign-id" name="id-type" ng-model="model.id.type" value="foreign" type="radio"/> лнч
                        </label>
                    </div>
                </div>

                <div ng-show="model.id.type === 'bulgarian'">
                    <!--ЕГН-->
                    <div class="form-group">
                        <label for="egn" class="col-lg-4 control-label">ЕГН<span
                                class="required"> *</span></label>
                        <div class="col-lg-4">
                            <input ng-model="model.data.id.bulgarian.egn" id="egn" name="egn" required="" type="text"
                                   class="form-control input-md"/>
                        </div>
                    </div>
                    <!--ЛКН-->
                    <div class="form-group">
                        <label for="bulgarian-id-card-number" class="col-lg-4 control-label">Лична карта номер<span
                                class="required"> *</span></label>
                        <div class="col-lg-4">
                            <input ng-model="model.data.id.bulgarian.idCardNumber" id="bulgarian-id-card-number"
                                   name="bulgarian-id-card-number" required="" type="text"
                                   class="form-control input-md"/>
                        </div>
                    </div>
                </div>

                <div  ng-show="model.id.type === 'foreign'">
                    <!--ЛНЧ-->
                    <div class="form-group">
                        <label for="lnch" class="col-lg-4 control-label">ЛНЧ<span
                                class="required"> *</span></label>
                        <div class="col-lg-4">
                            <input ng-model="model.data.id.foreign.lnch" id="lnch" name="lnch" required="" type="text"
                                   class="form-control input-md"/>
                        </div>
                    </div>
                    <!--ЛКН-->
                    <div class="form-group">
                        <label for="foreign-id-card-number" class="col-lg-4 control-label">Лична карта номер<span
                                class="required"> *</span></label>
                        <div class="col-lg-4">
                            <input ng-model="model.data.id.foreign.idCardNumber" id="foreign-id-card-number"
                                   name="bulgarian-id-card-number" required="" type="text"
                                   class="form-control input-md"/>
                        </div>
                    </div>
                    <!-- Пол-->
                    <div class="form-group">
                        <label for="sex" class="col-lg-4 control-label margin-top">Пол<span
                                class="required"> *</span></label>
                        <div class="col-lg-4">
                            <input ng-model="model.data.id.foreign.sex" id="sex" name="id" required="" type="text"
                                   class="form-control input-md margin-top"/>
                        </div>
                    </div>
                    <!-- Дата на раждане-->
                    <div class="form-group">
                        <label for="id" class="col-lg-4 control-label margin-top">Дата на раждане<span
                                class="required"> *</span></label>
                        <div class="col-lg-4">
                            <input ng-model="model.data.id.foreign.dob" id="id" name="id" required="" type="text"
                                   class="form-control input-md margin-top"/>
                        </div>
                    </div>
                </div>
                <!-- 7.Улица-->
                <div class="form-group">
                    <label for="street" class="col-lg-4 control-label margin-top">Адрес<span
                            class="required"> *</span></label>
                    <div class="col-lg-4">
                        <input ng-model="model.data.address.street"  id="street" name="street" required="" type="text" class="form-control input-md margin-top"/>
                    </div>
                </div>
                <!-- 8.Град-->
                <div class="form-group">
                    <label for="city" class="col-lg-4 control-label">Град<span class="required"> *</span></label>
                    <div class="col-lg-4">
                        <input ng-model="model.data.address.city" id="city" name="city" required="" type="text" class="form-control input-md"/>
                    </div>
                </div>
                <!-- 9.Пощенски код-->
                <div class="form-group">
                    <label for="postal-code" class="col-lg-4 control-label">Пощенски код<span
                            class="required"> *</span></label>
                    <div class="col-lg-4">
                        <input ng-model="model.data.address.postalCode" id="postal-code" name="postal-code" required="" type="text" class="form-control input-md"/>
                    </div>
                </div>
                <!-- 10.Държава-->
                <div class="form-group">
                    <label for="country" class="col-lg-4 control-label">Държава<span class="required"> *</span></label>
                    <div class="col-lg-4">
                        <input ng-model="model.data.address.country" id="country" name="country" required="" type="text" class="form-control input-md"/>
                    </div>
                </div>
                <!-- 11.Образование-->
                <div class="form-group">
                    <label for="education" class="col-lg-4 control-label margin-top">Образование</label>
                    <div class="col-lg-4">
                        <select ng-model="model.data.education" id="education" name="education" class="form-control margin-top">
                            <option value="">Моля изберете</option>
                            <option value="Начално">Начално</option>
                            <option value="Основно">Основно</option>
                            <option value="Средно">Средно</option>
                            <option value="Средно специално">Средно специално</option>
                            <option value="Професионален Бакалавър">Професионален Бакалавър</option>
                            <option value="Бакалавър">Бакалавър</option>
                            <option value="Магистър">Магистър</option>
                            <option value="Доктор">Доктор</option>
                        </select>
                    </div>
                </div>
                <!-- 12.телефон-->
                <div class="form-group">
                    <label for="phone" class="col-lg-4 control-label">Телефон</label>
                    <div class="col-lg-4">
                        <input ng-model="model.data.phoneNumber" id="phone" name="phone" type="text" class="form-control input-md"/>
                    </div>
                </div>
                <!-- 13.Имейл-->
                <div class="form-group">
                    <label for="email" class="col-lg-4 control-label">Имейл</label>
                    <div class="col-lg-4">
                        <input ng-model="model.data.email" id="email" name="email" type="email" class="form-control input-md"/>
                    </div>
                </div>
                <!-- 14.Банка-->
                <div class="form-group">
                    <label for="bank" class="col-lg-4 control-label">Банка</label>
                    <div class="col-lg-4">
                        <input ng-model="model.data.bankAccount.bank" id="bank" name="bank" type="text" class="form-control input-md"/>
                    </div>
                </div>
                <!-- 15.iban-->
                <div class="form-group">
                    <label for="iban" class="col-lg-4 control-label">IBAN</label>
                    <div class="col-lg-4">
                        <input ng-model="model.data.bankAccount.iban" id="iban" name="iban" type="text" class="form-control input-md"/>
                    </div>
                </div>
                <!-- 16.bic-->
                <div class="form-group">
                    <label for="bic" class="col-lg-4 control-label">BIC</label>
                    <div class="col-lg-4">
                        <input ng-model="model.data.bankAccount.bic" id="bic" name="bic" type="text" class="form-control input-md"/>
                    </div>
                </div>

                <!-- Запази-->
                <div class="form-group">
                    <div class="col-lg-4 col-lg-offset-4">
                        <button ng-click="submit()" type="button" class="btn btn-default">Запази</button>
                    </div>
                </div>
            </form>
    </div>
</div>