<div id="edit-profile" class="tab-pane active">
    <section class="panel">
        <div class="panel-body bio-graph-info">
            <form role="form" class="form-horizontal">
                <div class="form-group">
                    <label class="col-lg-4 control-label">Име</label>
                    <div class="col-lg-4">
                        <input id="first-name" ng-model="user.fname" type="text" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">Фамилия</label>
                    <div class="col-lg-4">
                        <input id="last-name" ng-model="lname" type="text" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">Имейл</label>
                    <div class="col-lg-4">
                        <input name="email" ng-model="user.email" type="email" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">Промени имейл</label>
                    <div class="col-lg-4">
                        <input id="email" placeholder="нов имейл" ng-model="user.newEmail" type="text" class="form-control"/>
                    </div>
                </div>
            </form>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-offset-4">
                        <button type="button" ng-click="user.saveChanges()" class="btn btn-default"> Запази</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>