#company-info.tab-pane(role='tabpanel')
    .panel-body
        form.form.form-horizontal
            fieldset
                .form-group
                    label.control-label.col-md-4.margin-top(for='name')
                        | Име
                        span.required *
                    .col-md-4
                        input#name.form-control.margin-top(name='name', required='required', type='text')
                .form-group
                    label.control-label.col-md-4(for='eik')
                        | ЕИК
                        span.required *
                    .col-md-4
                        input#eik.form-control(name='eik', required='required', type='text')
                .form-group
                    label.control-label.col-md-4(for='director')
                        | Управител
                        span.required *
                    .col-md-4
                        input#director.form-control(name='director', required='', type='text')
                .form-group
                    label.control-label.col-md-4(for='main-economic-activity')
                        | Основана икономическа
                        | дейност
                        span.required *
                    .col-md-4
                        input#main-economic-activity.form-control(name='main-economic-activity', required='required', type='text')
                .form-group
                    label.control-label.col-md-4(for='pkpv')
                        | Процент за клас прослужено време
                        span.required  *
                    .col-md-4
                        input#pkpv.form-control(type='text', name='pkpv', required='required')
                .form-group
                    label.control-label.col-md-4(for='address')
                        | Адрес
                        span.required *
                    .col-md-4
                        input#address.form-control(name='address', required='required', type='text')
                .form-group
                    label.control-label.col-md-4(for='city')
                        | Град
                        span.required *
                    .col-md-4
                        input#city.form-control(name='city', required='required', type='text')
                .form-group
                    label.control-label.col-md-4(for='postal-code')
                        | Пощенски код
                        span.required *
                    .col-md-4
                        input#postal-code.form-control(name='postal-code', required='required', type='text')
                .form-group
                    label.control-label.col-md-4(for='country')
                        | Държава
                        span.required *
                    .col-md-4
                        input#country.form-control(name='country', required='required', type='text')

                .form-group
                    .col-md-offset-4.col-md-4
                        button.btn.btn-default(type='submit')
                            | Запази