#dossiers.tab-pane.active(role='tabpanel')
    .row
        .col-xs-12.btn-group
            button.btn.btn-default.col-xs-12.col-lg-2(type='button', onclick='window.location="dossier"')
                i.fa.fa-user-plus
                | Добави ново

    include dossiers-table.pug