table#dossiers-table.table.table-hover.table-bordered
    thead
        tr
            th ЕГН/ЛНЧ
            th Име
            th Длъжност
            th Вид
    tbody.searchable
        tr
            td
                a(href='dossier') 8798476789
            td
                a(href='dossier') Мартин Георгиев
            td Работник
            td Граждански договор
        tr
            td
                a(href='dossier') 7864982374
            td
                a(href='dossier') Георги Василев
            td Работник
            td Трудов договор
        tr
            td
                a(href='dossier') 3967529812
            td
                a(href='dossier') Петър Сираков
            td Работник
            td Трудов договор
        tr
            td
                a(href='dossier') 837190456
            td
                a(href='dossier') Тодор Яворов
            td Работник
            td Трудов договор
        tr
            td
                a(href='dossier') 735671298
            td
                a(href='dossier') Янко Иванов
            td Работник
            td Трудов договор
        tr
            td
                a(href='dossier') 983672871
            td
                a(href='dossier') Калоян Стоев
            td Работник
            td Граждански договор
        tr
            td
                a(href='dossier') 7346732929
            td
                a(href='dossier') Стамат Господинов
            td Работник
            td Архивиран
        tr
            td
                a(href='dossier') 5346376282
            td
                a(href='dossier') Илиян Борисов
            td Работник
            td Архивиран
        tr
            td
                a(href='dossier') 6347348327
            td
                a(href='dossier') Дамян Георгиев
            td Работник
            td Граждански договор
        tr
            td
                a(href='dossier') 9238783276
            td
                a(href='dossier') Георги Георгиев
            td Работник
            td Граждански договор