table#dossiers-table.table.table-hover.table-bordered.table-responsive
    thead
        tr
            th ЕГН/ЛНЧ
            th Име
    tbody
        tr
            td
                a(href='dossier') 8798476789
            td
                a(href='dossier') Мартин Георгиев
        tr
            td
                a(href='dossier') 7864982374
            td
                a(href='dossier') Георги Василев
        tr
            td
                a(href='dossier') 3967529812
            td
                a(href='dossier') Петър Сираков