ul.nav.nav-tabs(role='tablist')
    li#tab-22-percent.active(role='presentation')
        a(href='#company-info', role='tab', aria-controls='company-info', data-toggle='tab')
            i.fa.fa-info-circle
            span  Информация за фирмата
    li(role='presentation')
        a(href='#dossiers', role='tab', aria-controls='dossiers', data-toggle='tab')
            i.fa.fa-folder
            span  Досиета
    li(role='presentation')
        a(href='#settings', role='tab', aria-controls='settings', data-toggle='tab')
            i.fa.fa-cogs
            span  Настройки