extends ../layout

block content
    .row
        .col-md-12
            // Nav tabs
            .card
                include nav-tabs
                // Tab panes
                .tab-content
                    include company-info
                    include dossiers
