extends layout

block content
    .row
        .col-xs-12
            button.btn.btn-default.col-xs-12.col-lg-2(type='button')
                i.fa.fa-upload
                |  Добави от xlsx
            button.btn.btn-default.col-xs-12.col-lg-2(type='button', onclick="window.location='company'")
                i.fa.fa-plus
                |  Добави нова фирма

    section.panel
        table#companies-table.table.table-hover.table-bordered.table-responsive
            thead
                tr
                    th Име
                    th ЕИК- Булстат
                    th Управител
            tbody
                tr
                    td
                        a(href='company') Фирма 1
                    td
                        a(href='company') 1234567890
                    td
                        a(href='#') Иван Иванов
                tr
                    td
                        a(href='company') Фирма 2
                    td
                        a(href='company') 1234567890
                    td
                        a(href='#') Иван Иванов
                tr
                    td
                        a(href='company') Фирма 3
                    td
                        a(href='company') 1234567890
                    td
                        a(href='#') Иван Иванов
                tr
                    td
                        a(href='company') Фирма 4
                    td
                        a(href='company') 1234567890
                    td
                        a(href='#') Иван Иванов
                tr
                    td
                        a(href='company') Фирма 5
                    td
                        a(href='company') 1234567890
                    td
                        a(href='#') Иван Иванов
                tr
                    td
                        a(href='company') Фирма 6
                    td
                        a(href='company') 1234567890
                    td
                        a(href='#') Иван Иванов
                tr
                    td
                        a(href='company') Фирма 7
                    td
                        a(href='company') 1234567890
                    td
                        a(href='#') Иван Иванов
                tr
                    td
                        a(href='company') Фирма 8
                    td
                        a(href='company') 1234567890
                    td
                        a(href='#') Иван Иванов
                tr
                    td
                        a(href='company') Фирма 9
                    td
                        a(href='company') 1234567890
                    td
                        a(href='#') Иван Иванов
                tr
                    td
                        a(href='company') Фирма 10
                    td
                        a(href='company') 1234567890
                    td
                        a(href='#') Иван Иванов
                tr
                    td
                        a(href='company') Фирма 11
                    td
                        a(href='company') 1234567890
                    td
                        a(href='#') Иван Иванов
