.fa,
.modal-body label,
.modal-body input {
    margin-right: 10px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right-width: 0;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

#navigation {
    color: #fff;
    background-color: rgba(17, 51, 85, 0.85);
    font-size: 1.2em;
    border-bottom: 2px solid rgb(17, 51, 85);
}

#navigation li a {
    color: #fff !important;
    width: 150px !important;
    text-align: center !important;
    text-shadow: none !important;
}

#navigation li :hover,
#navigation li a:hover {
    background-color: #fff !important;
    color: rgb(17, 51, 85) !important;
}

.special,
.special .jumbotron {
    height: 100%;
}

html, body {
    height: 100%;
    color: #226;
}

body a {
    color: #226;
    text-shadow: none !important;
}

body a:hover {
    text-transform: uppercase;
    cursor: pointer;
}

.margin-bottom .form-group div > input,
.margin-bottom .form-group div > select,
.margin-bottom .form-group div > label {
    margin-bottom: 10px;
}

.margin-top {
    margin-top: 10px;
}

.nav-tabs {
    border-radius: 0;
    border-bottom: 2px solid #DDD;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    border-width: 0;
}

.nav-tabs > li > a {
    border-radius: 0;
    border: none;
    color: #ffffff;
    background: rgba(17, 51, 85, 0.85);
}

.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
    border: none;
    color: rgba(17, 51, 85, 0.85) !important;
    background: #fff;
}

.nav-tabs > li > a::after {
    content: "";
    background: rgba(17, 51, 85, 0.85);
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
    transform: scale(1);
}

.tab-nav > li > a::after {
    background: rgba(17, 51, 85, 0.85) none repeat scroll 0 0;
    color: #fff;
}

.tab-pane {
    padding: 15px 0;
}

.tab-content {
    padding: 20px
}

.nav-tabs > li {
    width: 13%;
    text-align: center;
}

.nav-tabs > li#tab-22-percent {
    width: 22%;
}

.nav-tabs > li.tab-18-percent {
    width: 18.5%;
}

.nav-tabs > li.tab-16-percent {
    width: 16.5%;
}

.card {
    background: #FFF none repeat scroll 0 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

@media all and (min-width: 1281px) {
    .nav-tabs > li > a > i {
        display: none;
    }
}

@media all and (max-width: 1280px) {
    .nav-tabs > li > a > span {
        display: none;
    }

    .nav-tabs > li > a {
        padding: 5px 5px;
    }
}

/* modals*/

/****** LOGIN MODAL ******/
.trz-form-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto, sans-serif;
}

.trz-form-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: roboto, sans-serif;
}

.trz-form-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.trz-form-container input[type=email], input[type=password], input[text] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.trz-form-container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.trz-form {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
      user-select: none; */
}

.trz-form-submit {
    /* border: 1px solid #3079ed; */
    border: 0;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: darkslategray;
    padding: 17px 0;
    font-family: roboto, sans-serif;
    font-size: 14px;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.trz-form-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: darkslategray;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.trz-form-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.trz-form-help {
    font-size: 12px;
}

.trz-form-help a:hover {
    cursor: pointer;
}

trz-button-group a:first-child {
    margin-left: 30px;
    margin-top: 20px;
}

trz-button-group .btn {
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn {
    border-radius: 0;
}

.light {
    background-color: #0d3349;
    color: #fff;
}

.btn.light {
    box-shadow: 0 4px 11px 0 #555;
}

.btn.light:hover {
    color: #fff;
    font-weight: 500;
    background-color: rgb(103, 131, 156);
}

.divider {
    height: 2px;
    width: 95%;
    display: block;
    margin-top: 20px;
    margin-left: 25px;
    overflow: hidden;
    background-color: #e5e5e5;
}

input.form-control {
    border-radius: 0;
    border: 1px solid black;
    color: #137;
}

.btn-default {
    border: 1px solid black;
    background-color: #0d3349;
}

.special .card {
    box-shadow: 0 12px 40px 5px #555;
}

.jumbotron {
    /*background-color: #699BA5;*/
    background: url(../images/linux.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.table-bordered > tbody > tr > th,
.table-bordered > thead > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid #2f4f4f;
    border-right-width: 0;
    border-left-width: 0;
}

.table {
    border: 1px solid #101010;
    box-shadow: 0 3px 12px 0 #555;
}

.table-bordered > tbody > tr:nth-child(2n) {
    background-color: rgba(187, 186, 202, 0.35);
}

.table-bordered > thead > tr > th {
    background-color: rgba(82, 107, 112, 0.88);
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
}

/*table.table-bordered thead th{*/
/*border-bottom:2px solid #000;*/
/*}*/